*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select:none;
    font-family: 'Open Sans', sans-serif;
}

body{
    
    width: 100%;
    display: flex;
    justify-content: center;
    background: #444;
}

.container{
    position: absolute;
    width: 70%;
    min-height: 900px;
    background: #111;
    display: none;
}

.bar{
   
    display: flex;
    align-items: center;
    cursor: pointer;
}

.box-links-instruments{
    position: absolute;
    top: 40px;
    left: 20px;
    padding: 10px;
    background: cornsilk;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    display: none;
}

.box-links-instruments a{
    color: #111;
    padding: 7px 20px;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}

.box-links-instruments a:hover{
    color: #333;
    font-size: 1.1em;
}

.bar:hover{
    color: #ccc;
}

.guitar-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
}

.guitar-header-span{
    display: flex;
    align-items: center;
    
}

.icon-three-bars{
    font-size: 1.6em;
    
}

.icon-ellipsis-h{
    font-size: 1.6em;
}

.container-bx-nota{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-bx-nota-class{
    font-size: 2em;
    color: ivory;
}

.main{
   
    width: 100%;
    
}


.main-2{
    height: 550px;
    overflow: auto;
    display: flex;
    margin-bottom: -200px;
    margin-top: -100px;
    z-index: 80;
}

.bx-image-ukulele{
    z-index: 50;
    height: 100%;
}

.bx-image-ukulele > img{
    height: 99%;
    margin-right: -140px;
}

.braco{
    width: 600px;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    margin: auto;
    z-index: 60;
}

.b{
    position: relative;
    /* background: #2d1a0c; */
    background: linear-gradient(#443C3A, #38302f, #443C3A);
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
}

.box_casa{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.casa{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.tr{
    position: relative;
    width: 2px;
    height: 100%;
    background: darkgray;
}
.mark{
    background: cornsilk;
}

.box_cordas{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.corda{
    width: 100%;
    background: rgba(241, 241, 241, 0.959);
}

.box_notas{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.7); */
}

.column_notas{
    width: 100%;
    display: flex;
}

.casa_notas{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.nota-boll{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12.5px;
    /* background: #72b01d; */
    background: rgba(114, 176, 29, 0.7);
    display: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bold;
}

.nota-boll-tom{
    border: 2px solid #fff;
    /* color: #9609b6; */
}

.nota-rect{
    width: 20px;
    height: 100%;
    background: #72b01d;
    display: none;
}

.controll{
    position: relative;
    width: 100%;
    color: #fff;
    overflow: auto;
    background: #222;
    z-index: 90;
}

.controll-2{
    position: relative;
    padding: 5px 10px;
    display: flex;
   
}

.box-display{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px; */
    z-index: 90;
    background: #222;
}

.arc{
    display: none;
}

.title-controll{
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.9em;
    margin: auto;
    font-weight: bold;
    border-radius: 3px;
}

/* .title-controll:hover{
    background: #fff;
    color: #000;
    font-weight: bold;
} */

.casaCount{
    position: absolute;
    top: -25px;
    color: cornsilk;
}

.a{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
    background: #191919;
    margin-bottom: 5px;
    border-left: 7px solid #9609b6;
    border-radius: 5px;
   
    
}

.ap{
    display: flex;
}

.n{
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
}

/* .n:hover{
    background: cornsilk;
    color: #111;
    font-weight: bold;
    cursor: pointer;
} */

.title-nb{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
    /* background: #7f0799; */
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
    /* border-bottom: 3px solid #fff; */
    text-transform: uppercase;
}

.textPos{
    padding: 2px 10px;
    font-size: 0.9em;
    cursor: pointer;
}

.activePos{
    background: #9609b6;
    padding: 2px 10px;
}

.bxNameNotas{
    width: 40px;
    height: 100px;
}

.bxNameNotas2{
    position: absolute;
    right:5px;
    width: 40px;
    height: 100px;
}

.bxNameNotas2 .nameCordasClass{
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    background: rgba(241, 241, 241, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 0px 5px #000;
}

.bxNameNotasColumns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: ivory;
    font-weight: bold;
}

.bxNameNotasColumns:active .corda{
    background: lawngreen;
} 

.actve-button-notas{
    background: #111;
    color: #fff;
    border-bottom: #9609b6 3px solid;
}

.active-button-controll{
    /* background: #fff; */
    /* color: #000; */
    background: #111;
    color: #fff;
    border-bottom: #9609b6 solid 3px;
    font-weight: bold;
    border-radius: 3px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}

/* ESCALAS */

.bxColumns{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* display: none; */
    /* opacity: 0; */
}

.clns{
    padding: 10px 0px;
    background: #191919;
    margin-bottom: 5px;
    border-left: 7px solid #9609b6;
    border-radius: 5px;

    
}


.clnsTitle{
    padding: 10px;
    /* background: #7f0799; */
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
    /* border-bottom: 3px solid #fff; */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clnsText{
    color: #fff;
    font-size: 0.9em;
    padding: 10px 15px;
}

.clnsText::before{
    content:"";
    display: inline-block;
    width:10px;
    height: 10px;
    border-radius: 5px;
    background:rgba(197, 197, 197, 0.3);
    margin-right: 10px;
}

.clnsTextActive::before{
    content:"";
    display: inline-block;
    width:10px;
    height: 10px;
    border-radius: 5px;
    background:#c604f7;
    margin-right: 10px;
}



.bl{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12.5px;
    /* background: #72b01d; */
    background: rgba(114, 176, 29, 0.7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bold;
}

.descriptionNotas, .descriptionInicio{
    padding: 10px;
    color: #fff;
}


/* EXERCICIOS */

.bxE{
    width: 100%;
}

.bxBtnExerc{
    width: 100%;
    padding: 10px;
    color: #fff;
    background: #191919;
    /* border: 1px solid #fff; */
    border-radius: 3px;
    margin-bottom: 5px;
    border-left: 7px solid #7f0799;
}

.btnExerc, .descExerc{
    width: 100%;
    padding: 10px;
    font-size: 0.9em;

}

.bollE{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12.5px;
    /* background: #72b01d; */
    background: rgba(114, 176, 29, 0.7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bold;
}

.bx-count{
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.count{
    width: 180px;
    height: 180px;
    border-radius: 90px;
    border: 1px solid #fff;
    font-size: 7em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descExercLink{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descExercLinkText{
    display: flex;
    align-items: center;
}

.descExercLinkText::before{
    content:"";
    display: inline-block;
    width:10px;
    height: 10px;
    border-radius: 5px;
    background:rgba(197, 197, 197, 0.3);
    margin-right: 10px;
}

.descExercLinkTextActive::before{
    content:"";
    display: inline-block;
    width:10px;
    height: 10px;
    border-radius: 5px;
    background:#c604f7;
    margin-right: 10px;
}

.descExercLinkControll{
    height: 100%;
    display: flex;
    align-items: center;
}

.descExercLinkControllCont{
    font-size: 1.4em;
    padding: 0px 5px;
}

.descExercLinkControllBpm{
    font-size: 0.9em;
    margin-left: 10px;
}


.descExercLinkActive{
    background: #9609b6;
    border-bottom: 3px solid #fff;
    border-radius:3px;
}

.icon-sort-asc, .icon-sort-desc{
    font-size: 1.3em;
}


/* TESTE COMPONENT */

.container-c{
    width: 100%;
}
.tc{
    width: 100%;
    /* background: #9609b6; */
}

.h{
    position: relative;
    width: 100%;
    display: flex;
    color: #fff;
    box-shadow:  0px 2px 5px rgba(0, 0, 0, 0.3);
    background: #222;
    /* z-index: 100; */
}

.t{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
    text-transform: uppercase;
}

.activeTeste{
    background: #9609b6;
}

@keyframes actTeste{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.bxc{
    width: 100%;
    padding: 5px;
    color: #fff;
}



.bxs{
    width: 100%;
    /* opacity: 0; */
    /* display: none; */
}

.acor{
    width: 100%;
}

.screen2{
    width: 100%;
    height: 200px;
    background: crimson;
}

.screen3{
    width: 100%;
    height: 200px;
    background: #72b01d;
}

.sel{
    display: none;
    /* transition: 1s; */
    /* opacity: 0; */
}

.bxc .activeScreen{
    display: block;
    /* opacity: 1; */
    opacity: 0;
    transform: translateX(-10px);

    animation-name: actTeste;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.bxExer{
    width:100%
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}



/* Intrument  Component*/

.bx{
    width: 700px;
    height: 300px;
    background: chartreuse;
}



/* ---------------------- LOAD ---------------------- */



.load{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-image{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-image svg{
    width: 200px;
}

.sv{
    stroke-dasharray: 29000;
    stroke-dashoffset: 29000;

    animation-name: ani-sv;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes ani-sv{
    100%{
        stroke-dashoffset: 0;
    }
}


.bxColumnsHeader{
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    display: flex;
}

.bxColumnsHeader div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
}

.bxColumnsHeader select{
    width: 90%;
    height: 90%;
    font-size: 1.1em;
    font-weight: bold;
}

/* .bxColumnsHeader div:hover{
    background: #72b01d;
} */






















/* MODO CELULAR */

@media(max-width: 500px){

    .container{
        width: 100%;
    }

    .guitar-header-span h1{
        font-size: 1em;
    }

    .guitar-header-span p{
        font-size: 0.6em;
    }

    .bar{
        font-size: 0.9em;
    }

    .clns{
        width: 100%;
        border: none;
        background: #191919;
        margin-bottom: 5px;
        border-left: 7px solid #9609b6;
        border-radius: 5px;
    }

}


/* .clns:last-child{
    border: none;
}; */

/* 2038931767 */

/* É UM HOMEM QUE LUTA PELO INTERESSE DO BRASIL EM ESPECIAL AO SEU ESTADO. */

