*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select:none;
}

.container{
    position: absolute;
    width: 100%;
    min-height: 900px;
    background: #111;
}

.bar{
   
    display: flex;
    align-items: center;
    cursor: pointer;
}

.box-links-instruments{
    position: absolute;
    top: 40px;
    left: 20px;
    padding: 10px;
    background: cornsilk;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    display: none;
}

.box-links-instruments a{
    color: #111;
    padding: 7px 20px;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}

.box-links-instruments a:hover{
    color: #333;
    font-size: 1.1em;
}

.bar:hover{
    color: #ccc;
}

.guitar-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: cornsilk;
}

.guitar-header-span{
    display: flex;
    align-items: center;
    
}

.container-bx-nota{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-bx-nota-class{
    font-size: 2em;
    color: ivory;
}

.main{
    position: relative;
    width: 100%;
    
}

.main-2{
    
    overflow: auto;
}

.braco{
    width: 600px;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.b{
    position: relative;
    background: #2d1a0c;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    
}

.box_casa{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.casa{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.tr{
    position: relative;
    width: 2px;
    height: 100%;
    background: darkgray;
}
.mark{
    background: cornsilk;
}

.box_cordas{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.corda{
    width: 100%;
    background: rgba(241, 241, 241, 0.959);
}

.box_notas{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.7); */
}

.column_notas{
    width: 100%;
    display: flex;
}

.casa_notas{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.nota-boll{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #72b01d;
    display: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bold;
}

.nota-rect{
    width: 20px;
    height: 100%;
    background: #72b01d;
    display: none;
}

.controll{
    width: 100%;
    
    color: #fff;
    
    overflow: auto;
    background: rgb(26, 26, 26);
}

.controll-2{
    padding: 5px 10px;
    display: flex;
}

.box-display{
    display: flex;
    flex-wrap: wrap;
}

.title-controll{
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.9em;
    margin: auto;
    font-weight: bold;
}

.title-controll:hover{
    background: #fff;
    color: #000;
    font-weight: bold;
}

.casaCount{
    position: absolute;
    top: -25px;
    color: cornsilk;
}

.a{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
}

.n{
    color: #fff;
    padding: 7px 20px;
}

.n:hover{
    background: cornsilk;
    color: #111;
    font-weight: bold;
    cursor: pointer;
}

.title-n{
    width: 100%;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    background: #7f0799;
    margin-bottom: 10px;
}

.bxNameNotas{
    width: 40px;
    height: 100px;
}

.bxNameNotasColumns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: ivory;
    font-weight: bold;
}

.bxNameNotasColumns:active .corda{
    background: lawngreen;
} 

.actve-button-notas{
    background: #fff;
    color: black;
}

.active-button-controll{
    background: #fff;
    color: #000;
    font-weight: bold;
}

/* ESCALAS */

.bxColumns{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: none;
}

.clns{
    padding: 10px 30px;
}


.clnsTitle{
    padding: 5px 10px;
    background: #7f0799;
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.clnsText{
    color: #fff;
    padding: 10px 0px;
    font-size: 0.9em;
    padding: 10px;
}

.clnsText:hover{
    background: #fff;
    color: #000;
    cursor: pointer;
}






/* MODO CELULAR */

@media(max-width: 500px){

    .guitar-header-span h1{
        font-size: 1em;
    }

    .guitar-header-span p{
        font-size: 0.6em;
    }

    .bar{
        font-size: 0.9em;
    }

    .clns{
        width: 100%;
        border: none;
        padding: 10px;
    }

}


.clns:last-child{
    border: none;
};
